header {
  @extend %backgroundStd;
  background-image: url(../img/bg-pizza.jpg);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@import "./components/nav";
@import "./components/site-title";