%gridCenter {
  display: grid;
  place-items: center;
}

%backgroundStd {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

$dark1: rgb(51, 51, 51);
$green1: rgb(61, 172, 18);
$red1: rgb(165, 31, 29);


$ff1: "Nunito Sans", "Quicksand", "Oxygen", Arial, Helvetica, sans-serif;