nav {
  font-size: 1.85rem;
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    li {
      width: 100%;
      a {
        height: 100%;
        width: 100%;
        background-image: linear-gradient(90deg, lighten($Italy-green, 2.5%), $Italy-green);
        color: $Italy-white;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        padding: .5em;
        @extend %gridCenter;
        transition: background-image .5s ease-in-out;

        &:hover {
          background-image: radial-gradient($Italy-red, lighten($Italy-red, 15%));
        }
      }
    }
  }
}


// @keyframes navAnim {
//   to {
//   }
// }